<form action="/user/login" method="POST">
    <label>Username</label>
    <input type="text" name="username">

    <label>Password</label>
    <input type="text" name="password">

    <input type="submit">
</form>