<h1>Admin Login</h1>
<form action="/admin/login" method="POST">
    <label>Username</label>
    <input type="text" name="username">

    <label>Password</label>
    <input type="text" name="password">

    <input type="submit">
</form>