<!DOCTYPE HTML>

<html>

<head>
	<title>home</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


	<link rel="stylesheet" href="/home/assets/css/main.css" />
	<style>
		@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
#header{
	background: #39424E;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #39424E, #39424E);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #39424E, #39424E);
}
body{
	font-family:inherit;
}
		nav{
			background: #39424E;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #39424E, #39424E);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #39424E, #39424E);
		}
		.jumbotron {
			text-align: center;
			height: 100vh;
			background-image: url('/userAssets/uploads/money.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	opacity: 0.7;
		}

		.jumbotron p {
			font-size: 15px;
		}

		.jumbotron h1 {
			padding: 10px;
			margin-top: 10px;
			margin-bottom: 10px;
			padding-top: 30px;
			font-size: 60px;
		}

		.jumbotron button {
			background: #39424E;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #39424E, #39424E);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #39424E, #39424E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
color: azure !important;
box-shadow: 0 5px 5px 5px grey;
		}

		.jumbotron2 {
			

			height: 500px;
			text-align: center;
		}
		.jumbotron2 h1{
			padding: 10px;
	
			margin-bottom: 10px;
			padding-top: 30px;
			font-size: 60px;
			
		}

		.card-deck{
			height: 600px;
			padding: 50px;
			width:1500px;
			font-size: 15px;
			box-shadow: 0 5px 5px 5px black;
			border: 1px solid #ccc;
    border-radius: 5px;
		}
		.card-header{
			text-align: center;
			background: #39424E;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #39424E, #39424E);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #39424E, #39424E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
box-shadow: 0 5px 5px 5px black;
color: white !important;
		}
		.card-text{
			padding: 30px;
			padding-top:70px;
		}
		#footer{
			background: #39424E;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #39424E, #39424E);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #39424E, #39424E);
		}
	</style>
</head>

<body>

	<!-- Header -->
	<header id="header">
		<a class="logo" href="/">Karz</a>
		<nav>
			<a href="#menu">Menu</a>
		</nav>
	</header>

	<!-- Nav -->
	<nav id="menu">
		<ul class="links">
			<li><a href="index.html">Home</a></li>
			<li><a href="elements.html">Dashboard</a></li>
			<li><a href="generic.html">Login</a></li>
			<li><a href="generic.html">SignUp</a></li>
			<li><a href="generic.html">Logout</a></li>
		</ul>
	</nav>

	<!-- Banner -->

	<div class="jumbotron">
		<h1 class="display-4">KARZ<h1>

				<hr class="my-4">
				<p>It uses utility classes for typography and spacing to space content out within the larger container.
				</p>
				<button class="btn btn-success btn-lg" href="#" role="button">Login</button>
				<button class="btn btn-success btn-lg" href="#" role="button">SignUp</button>
	</div>

	<div class="jumbotron2">
		<h1 class="display-4">About us!</h1>
		<p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
			featured content or information.</p>
		<hr class="my-4">
		<p>It uses utility classes for typography and spacing to space content out within the larger container.
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
		
	</div>

	<div class="card-deck">
			<div class="card">
			 
			  <div class="card-body"> 
					<div class="card-header">
							Featured
						  </div>
				
				<p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
				<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
			  </div>
			</div>
			<div class="card">
			
			  <div class="card-body">
					<div class="card-header">
							Featured
						  </div>
				<p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
				<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
			  </div>
			</div>
			<div class="card">
			 
			  <div class="card-body">
					<div class="card-header">
							Featured
						  </div>
				<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
				<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
			  </div>
			</div>
		  </div>

	<!-- Footer -->
	<footer id="footer">
		<div class="inner">
			<div class="content">
				<section>
					<h3>Contact Us!</h3>
					<p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer
						non faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem
						accumsan varius montes viverra nibh in adipiscing. Lorem ipsum dolor vestibulum ante ipsum
						primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing sed
						feugiat eu faucibus. Integer ac sed amet praesent. Nunc lacinia ante nunc ac gravida.</p>
				</section>

				<section>
					<h4>Magna sed ipsum</h4>
					<ul class="plain">
						<li><a href="#"><i class="icon fa-twitter">&nbsp;</i>Twitter</a></li>
						<li><a href="#"><i class="icon fa-facebook">&nbsp;</i>Facebook</a></li>
						<li><a href="#"><i class="icon fa-instagram">&nbsp;</i>Instagram</a></li>
						<li><a href="#"><i class="icon fa-github">&nbsp;</i>Github</a></li>
					</ul>
				</section>
			</div>
			<div class="copyright">
				&copy; Untitled. Photos <a href="https://unsplash.co">Unsplash</a>, Video <a
					href="https://coverr.co">Coverr</a>.
			</div>
		</div>
	</footer>

	<!-- Scripts -->
	<script src="/home/assets/js/jquery.min.js"></script>
	<script src="/home/assets/js/browser.min.js"></script>
	<script src="/home/assets/js/breakpoints.min.js"></script>
	<script src="/home/assets/js/util.js"></script>
	<script src="/home/assets/js/main.js"></script>

</body>

</html>