hellooooo! <%= user.name %>
<br>
current wallet = <%= user.wallet %>
<a href="/payment/charge">Recharge wallet</a>
<br>
<a href="/user/logout">LogOut</a>
<br>
<a href="/loan/new">New Loan</a>
<br>
<a href="/loan/showall">All loans</a>