<<<<<<< HEAD
<form method="POST" action="/user/submit-form">
    <!-- adhaarno:{type: Number, required:true},
adhaarImage: {type: String, required:true},
panno:{type: String, required:true},
panImage: {type:String, required: true},
salary: {type:Number, required: true},
salarySlip:{type:String, required: true},
profile:{type:String} -->
<label > Adhaar No: </label>
<input type="text" name="adhaarno">
<label > Adhaar Image: </label>
<input type="file" name="adhaarImage">
<label > PAN No: </label>
<input type="text" name="panno">
<label > PAN Image: </label>
<input type="file" name="panImage">
<label > Salary: </label>
<input type="number" name="salary">
<label > Salary Slip: </label>
<input type="file" name="salarySlip">
<label > LinkedIn Profile: </label>
<input type="text" name="profile">
<input type="submit" value="submit">
  </form>
=======
<form action="/user/kyc" method="post" enctype="multipart/form-data">
<label> Adhaar No: </label>
<input type="text" name="adhaarno">
<br>
<label> Adhaar Image: </label>
<input type="file" name="adhaarImage">
<br>
<label> PAN No: </label>
<input type="text" name="panno">
<br>
<label> PAN Image: </label>
<input type="file" name="panImage">
<br>
<label> Salary: </label>
<input type="text" name="salary">
<br>
<label> Salary Slip: </label>
<input type="file" name="salarySlip">
<br>
<label> LinkedIn Profile: </label>
<input type="text" name="profile">
<br>
<input type="submit" value="submit">
</form>
>>>>>>> c2196625cdfdc1774be79e5902fa9b3fcda4a2fd
