<%=message%>

<form action="/user/kyc" method="post" enctype="multipart/form-data">
<label> Adhaar No: </label>
<input type="text" name="adhaarno">
<br>
<label> Adhaar Image: </label>
<input type="file" name="adhaarImage">
<br>
<label> PAN No: </label>
<input type="text" name="panno">
<br>
<label> PAN Image: </label>
<input type="file" name="panImage">
<br>
<label> Salary: </label>
<input type="text" name="salary">
<br>
<label> Salary Slip: </label>
<input type="file" name="salarySlip">
<br>
<label> LinkedIn Profile: </label>
<input type="text" name="profile">
<br>
<input type="submit" value="submit">
</form>
