<form action="/user/new" method="POST">
    <label>Name</label>
    <input type="text" name="name">
    <br>

    <label>UserName</label>
    <input type="text" name="username">
    <br>

    <label>Password</label>
    <input type="text" name="password">
    <br>

    <input type="submit">
</form>