<form action="/user/new" method="POST" enctype="multipart/form-data">
    <label>Name</label>
    <input type="text" name="name">
    <br>

    <label>UserName</label>
    <input type="text" name="username">
    <br>
    <label >Email</label>
    <input type="email" name="email">
    <br>
    <label>Profile pic</label>
    <input type="file" name="file">
    <br>
    <label>Password</label>
    <input type="text" name="password">
    <br>

    <input type="submit">
</form>