<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Signup</title>

    <style>
        	@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
            body{
                font-family: 'Josefin Sans', sans-serif !important;
            }
    
  .sign-up{
    text-align: center;
    padding: 30px;
  
}
.submitbtn{
    font-size: 15px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    margin-top: 0px;
    width:300px;
    height:50px;
    padding: 10px;
    background-color:green;
    color:white;
    transition: 0.3s;
    border-radius:10px;
}

.form-control{
    margin-top:7px;
    margin-bottom: 10px;
    width:400px;
    height:25px;
     border: 0.5px solid lightgray;
    border-radius:10px;
    padding-left: 5px;
}
.form{
   
   
    width:400px;
  
}
.jumbotron-new{
  text-align: center;
  
  color:black;
  }
.btn:hover{
   
    box-shadow: 0 15px 15px 5px black;
    color:white;
}
#message{
    font-weight: bolder;
}
.card{
    width:500px;
    box-shadow: 0 10px 10px 5px lightgray;
    width:450px;  
     margin:10px auto ;
    
     border-radius: 10px;
      }
.form-control{
    text-align: center;
}
</style>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
     <!--sign up form-->
     <% if(message){ %>
        <div class="alert alert-danger text-center" role="alert">
               <%=message%>
              </div>
     <% } %>
     
     <div class="card">
            <div class="card-body">
                    <div id="sup"class="jumbotron-new">
                            <form action="/user/new" method="POST" enctype="multipart/form-data">
                                <div class="form">
                                   <h1 class="sign-up">Sign up</h1><hr>
                                    <div class="form-group1">
                                        <div class="form-group">
                                            <label>Full Name</label>
                                            <input type="text" class="form-control" name="name" placeholder="Full name">
                                        </div>
                                        <div class="form-group">
                                            <label>Username</label>
                                            <input type="text" class="form-control" name="username" placeholder="Username">
                                        </div>
                                        <div class="form-group">
                                                <label>Password</label>
                                                <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                                            </div>
                                        <div class="form-group">
                                            <label>Email address</label>
                                            <input type="email" class="form-control" name="email" placeholder="Enter email">
                                        </div>
                                        <div class="form-group">
                                                <label>Gender</label>
                                                <select class="form-control" name="gender">
                                                    <option>Male</option>
                                                    <option>Female</option>
                                                    <option>Other</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label>Date of Birth</label>
                                                <input type="date" name="dob" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                    <label>Educational Qualiication</label>
                                                    <input type="text" class="form-control" name="edu" placeholder="Enter educational qualification">
                                            </div>
                                            <div class="form-group">
                                                        <label>Current Designation</label>
                                                        <input type="text" class="form-control" name="curdesig" placeholder="Current Designation">
                                            </div>
                                        <div class="form-group">
                                                <label>Organizations</label>
                                                <input type="text" class="form-control" name="orgs" placeholder="Organizations">
                                        </div>
                                        <div class="form-group">
                                                <label>Profile pic</label>
                                                <input class="form-control" type="file" name="file" accept="image/*">
                                        </div>
                                        <button type="submit" class="btn btn-success submitbtn">Sign up</button>
                                        
                         </div>
                      </div>
       </form>
       <a class="btn btn-dark btn-large my-4" href="/">Go back</a>
    </div>
    </div>
    </div>
</body>
</html>