<form action="/loan/new" method="POST">
    <label>Amount Required</label>
    <input type="number" name="amount">
    <br>

    <label>to be returned in</label>
    <select name="date">
        <option value="1" name=>1 month</option>
        <option value="2" name=>2 months</option>
        <option value="3" name=>3 months</option>
        <option value="5" name=>5 months</option>
        <option value="9" name=>9 months</option>
        <option value="12" name=>12 months</option>
    </select>

    <br>
    
    <input type="submit">
</form>