<form action="/loan/new" method="POST">
    <label>Amount Required</label>
    <input type="number" name="amount">
    <br>

    <label>Return date</label>
    <input type="date" name="date">
    <br>
    
    <input type="submit">
</form>